@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-script: Public Sans, system-ui, sans-serif;
  --color-primary: #ff961d;
  --color-primary-50: #fff7ed;
  --color-primary-100: #ffedd5;
  --color-primary-500: #ff961d;
  --color-primary-600: #ea580c;
  --color-primary-700: #c2410c;
  --color-primary-800: #9e440e;
  --color-primary-900: #7f3a0f;
  --color-secondary: #95969d;
  --color-secondary-50: #f6f6f7;
  --color-secondary-100: #efeff0;
  --color-secondary-200: #e1e3e4;
  --color-secondary-300: #ced0d3;
  --color-secondary-400: #b9bbc0;
  --color-secondary-500: #95969d;
  --color-secondary-600: #7d7d85;
  --color-secondary-700: #67686c;
  --color-secondary-800: #55565a;
  --color-secondary-900: #323234;
  --color-info: #3b82f6;
  --color-info-50: #eff5ff;
  --color-info-100: #dbe8fe;
  --color-info-500: #3b82f6;
  --color-info-600: #2570eb;
  --color-info-700: #1d64d8;
  --color-info-800: #1e55af;
  --color-info-900: #172e54;
  --color-background-light: #f8f7f5;
  --color-background-medium: #9c8973;
  --color-background-dark: #231a0f;/*#2a2320*/
  --color-background-default: #f6f6f0;
  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-full: 9999px;

  --animate-wiggle: wiggle 0.3s ease-in-out infinite;

  @keyframes wiggle {

    0%,
    100% {
      transform: rotate(-1deg);
    }

    50% {
      transform: rotate(1deg);
    }
  }

}

/* Reset específico para permitir que Tailwind funcione */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Public Sans', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

select {
  padding: .375rem 2.25rem .375rem .75rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image:
    url("data: image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6' /%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
}

/* Estilos personalizados para el placeholder */
.form-input::placeholder {
  color: rgb(149 150 157);
}

@keyframes progress-animation {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.progress-bar {
  animation: progress-animation 10s linear infinite;
}